/*These are the attributes that are assigned to the h1 tag in the html file*/
h1 {
  color: blue;
  font size: 250%
}
/*These are the attributes that are assigned to the h2 tag in the html file*/
h2 {
  color: red;
  font size: 200%
}
/*These are the attributes to anyhting between the <p> and </p> tag in the HTML
file*/
p {
  font-family: "comic-sans";
  text-indent: 10px;
  margin-left: 0px;
  margin-right: 0px;
  color: purple;
}
/*This changes the attrubutes that can be seen on the webpage such as the color
of the background, borders around the text, and how the text is spaced in the
window and within the border as well.*/
body {
  background-color: #cfe1ff;
  width: auto;
  height: auto;
  padding: 15px;
  margin: 30px;
  border: solid 3px #000000;
  font-size: 30px;
}

#main {
  background-color: #cccccc;
  width: auto;
  height: auto;
  padding: 15px;
  margin: 30px;
  border: dotted 5px #FF0000;
  font-size: 30px;
}
/*Feel free to experiment with these options and change the look of the website
if you want.*/
