body {
  background-color: crimson;
  width: auto;
  height: auto;
  padding: 30px;
  margin: 30px;
  border: solid 10px violet;
  font-size: 30px;
}

#content {
  background-color: white;
  width: auto;
  height: auto;
  padding: 5px;
  margin: 5px;
  border: solid 10px blue;
}

#output {
  background-color: black;
  width: auto;
  height: auto;
}
#output p {
    margin-top: 0;
    margin-bottom: 0;
    color: white;
}
#output.cols {
    column-width: 200px;/* Chrome, Safari, Opera */
}
.challenge {
  background-color: Purple;
}

.problem {
  background-color: red;
}

.result {
  background-color: green;
}
img {
  width: 100%;
  height: auto;
}

h1 {
  color: black;
  font size: 100%
}

h2 {
  color: black;
  font size: 100%
}

h3 {
  color: black;
}

p {
  font-family: "comic-sans";
  text-indent: 5px;
  margin-left: 30px;
  margin-right: 30px;
  color: black;
}
